* { box-sizing: border-box;}
body {
background-color: Mediumpurple;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color: black;
font-family: Tahoma, Arial, sans-serif;
}	
#wrapper {
background-color: slategray;
margin-left: auto;
margin-right: auto;
width: 80%;
min-width: 900px;
max-width: 1280px;
box-shadow: 3px 3px 3px mediumseagreen;
padding: 0;
}	
header {
background-color: plum;
background-repeat: no-repeat;
color: black;
background-image: url(logo.jpg);
background-size: 200px 131px;  
padding-left: 240px;
padding-top: 5px;
padding-bottom: 5px;
}	
header a { text-decoration: none; }
header a:link { color: black; }
header a:visited { color: black; }
header a:hover { color: white; }
h1 { font-size: 3em; }
h2 { color: royalblue; }
h3, dt { color: #8C3826; }
h4 {
background-color: black;
font-size: 1.2em;
padding-left: .5em;
padding-bottom: 0;
text-transform: uppercase;
border-bottom: 1px solid #221811;
clear: left;
}	
nav {
float: left;
font-weight: bold;
text-align: center;
font-size: 1.5em;
padding-top: 5px;
padding-bottom: 5px;
width: 200px;
}	
nav a { text-decoration: none; }
nav a:link { color: black; }
nav a:visited { color: black;}
nav a:hover { color: white; }
nav ul {
list-style-type: none;
padding-left: 0;}
main {
background-color:white;
display: block;
margin-left: 200px;
overflow: auto;
padding: 0 0 2em 0;
}	
h2, h3, h4, p, div, ul, dl { padding-left: 3em; padding-right: 2em;}
.details {
padding-left: 20%;
padding-right: 20%;
overflow: auto;
}	
.floatleft {
float: left;
padding-right:2em ;
padding-bottom:2em ;
}	
.onethird {
float: left;
width: 33%;
}	
img {
padding-left: 10px;
padding-right: 10px; }
#bobphoto {
height: 300px;
background-image: url(bobphoto.jpeg);
background-repeat: no-repeat;
background-size: 100% 100%;
}	
#paint{
height: 300px;
background-image: url(paint.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}	
#heroguitar {
height: 300px;
background-image: url(heroguitar.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
}
footer {
background-color: plum;
font-size: .60em;
font-style: italic;
text-align: center;
padding-bottom: 1em;
border-top: 2px solid #8C3826;
}	
